<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />   
    <style type="text/css" media="screen">
      @import "/std.css";
    </style>
    <script type="text/javascript"  src="/jquery-1.4.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      $('.packages_1 tbody tr:odd').addClass('odd');
      $('.packages_1 tbody tr:even').addClass('even');
      $('.packages_2 tbody tr:odd').addClass('odd');
      $('.packages_2 tbody tr:even').addClass('even');
      });
    </script>
    <title>Packages in Silo <%= filesystem_to_text(silo.filesystem) %></title>
  </head>

  <body>
    <h1> Packages in Silo <%= filesystem_to_text(silo.filesystem) %> </h1>
    <h2> 
      <a href="/"><%= hostname %></a> 
      &rArr; 
      <a href="/silos/">Silo Management</a> 
      &rArr; 
      silo.filesystem %>
    </h2>

    <% search_str = search.nil?  ? '' : "&search=#{search}" %>
    <table style="border:none;">
      <tr>
	<td class="tl">
	  <% if (page > 1) %>
  	  <a href="?page=<%= page - 1 %><%= search_str %>">prev</a>
	  <% else %>
	  (prev)
	  <% end %>
	  page <%= page %> of <%= number_of_pages %>
	  <% if (page < number_of_pages) %>
	     <a href="?page=<%= page + 1 %><%= search_str %>">next</a>
	     <% else %>
	     (next)
	     <% end %>
	</td>

	<td class="tr">
	  <form>
	    <input type="text" name="search"  value="<%= search %>" style="background-color: #fdd;">
	    <input type="hidden" name="page"  value="1">
	  </form>

	</td>
      </tr>

      <tr>
	<td style="vertical-align: top;">
	  <% unless (packages_1.nil? or packages_1.empty?) %>
	  <table class="packages_1">
	    <thead>
	      <tr class="border">
		<th>IEID</th>
		<th style="text-align: right;">Size</th>
		<th>Date</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% packages_1.each do |name| %>
	      <tr>
		<td><a href="<%= name %>/"><%= name %></a></td>
		<td align="right"><%= safe_silo_size(silo, name) %></td>
		<td><%= safe_silo_datetime(silo, name) %></td>
              </tr>
              <% end %>
	    </tbody>
	  </table>
	  <% end %>

	</td>
	<td style="vertical-align: top;">
	  <% unless (packages_2.nil? or packages_2.empty?) %>
	  <table class="packages_2">
	    <thead>
	      <tr class="border">
		<th>IEID</th>
		<th>Size</th>
		<th>Date</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% packages_2.each do |name| %>
	      <tr>
		<td><a href="<%= name %>/"><%= name %></a></td>
		<td align="right"><%= safe_silo_size(silo, name) %></td>
		<td><%= safe_silo_datetime(silo, name) %></td>
              </tr>
              <% end %>
	    </tbody>
	  </table>

	  <% end %>
	</td>
      </tr>
    </table>

    <p class="footer">
      <%= revision %>
    </p>

  </body>
</html>
