<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <style type="text/css" media="screen">
      @import "/std.css";
    </style>
    <script type="text/javascript"  src="/jquery-1.4.js"></script>
    <title>Packages in Silo <%= filesystem_to_text(silo.filesystem) %> </title>
  </head>

  <body>
    <h1> Packages in Silo <%= filesystem_to_text(silo.filesystem) %> </h1>
    <h2> 
      <a href="/"><%= hostname %></a> 
      &rArr; 
      <a href="/silos/">Silo Management</a> 
      &rArr; 
      <%= silo.filesystem %>
    </h2>

    <% search_str = search.nil?  ? '' : "&search=#{search}" %>
    <% message    = search.nil?  ? 'There are no packages in this silo' : 'No package names match your search' %>
    <table width="50%">
      <tr>
	<th class="tl">
          <%= message %>
	</th>

	<th class="tr">
	  <form>
	    <% if search %>
   	       <input type="text" name="search"  value="<%= search %>" style="background-color: #fdd;">
            <% end %>
	    <input type="hidden" name="page"  value="1">
	  </form>
	</th>
      </tr>
    </table>

    <p class="footer">
      <%= revision %>
    </p>

  </body>
</html>
