<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <style type="text/css" media="screen">
      @import "/std.css";
    </style>
    <script type="text/javascript"  src="/jquery-1.4.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      $('.packages_1 tbody tr:odd').addClass('odd');
      $('.packages_1 tbody tr:even').addClass('even');
      });
    </script>
    <title>Packages in Silo <%= filesystem_to_text(silo.filesystem) %></title>
  </head>

  <body>
    <h1> Packages in Silo <%= filesystem_to_text(silo.filesystem) %> </h1>
    <h2> 
      <a href="/silos/"><%= silo.hostname %></a> 
      &rArr; 
      <%= silo.filesystem %>
    </h2>

    <% search_str = search.nil?  ? '' : "&search=#{search}" %>
    <table style="border:none;">
      <tr>
	<td class="tl">
	  <% if (page > 1) %>
	  <a href="?page=<%= page - 1 %><%= search_str %>">prev</a>
	  <% else %>
	  (prev)
	  <% end %>
          page <%= page %> of <%= number_of_pages %>
	  <% if (page < number_of_pages) %>
	     <a href="?page=<%= page + 1 %><%= search_str %>">next</a>
	     <% else %>
	     (next)
	     <% end %>
	</td>
	<td class="tr">
	  <form>
	    <input type="text" name="search"  value="<%= search %>" style="background-color: #fdd;">
	    <input type="hidden" name="page"  value="1">
	  </form>

	</td>
      </tr>

      <tr>
	<td style="vertical-align: top;" colspan=2>
	  <table class="packages_1">
	    <thead>
	      <tr class="border">
		<th>Package Name</th>
		<th style="text-align: right;">Size</th>
		<th>Date</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% packages_1.each do |name| %>
	      <tr>
		<td><a href="<%= name %>/"><%= name %></a></td>
		<td align="right"><%= pretty_size(silo.size(name)) %></td>
		<td><%= silo.datetime(name).strftime("%B %d, %Y - %r") %></td>
              </tr>
              <% end %>
	    </tbody>
	  </table>
	</td>
      </tr>
    </table>

    <p class="footer">
      <%= revision %>
    </p>

  </body>
</html>
