<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <style type="text/css" media="screen">
      @import "/std.css";
    </style>
    <script type="text/javascript"  src="/jquery-1.4.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      $('#silos tbody tr:odd').addClass('odd');
      $('#silos tbody tr:even').addClass('even');
      });
    </script>
    <script type="text/javascript" src="/jquery-1.4.js"></script>
    <title>Available Silos on <%= hostname %></title>
  </head>

  <body>

    <h1> Silo Management</a></h1>
    <h2> 
      <%= hostname %>
    </h2>

    <table id="silos">
      <thead>
	<tr class="border">
          <th>Silo</th>
          <th>Free</th>
          <th>State</th>
          <th>Methods</th>
          <th>Pkgs</th>
          <th colspan="2">Fixity Dates</th>
          <th colspan="2">
	    <% if credentials %>	    
   	      <a href="/credentials">Change Site Password</a>
	    <% else %>
   	      <a href="/credentials">Set Site Password</a>
	    <% end %>
	  </th>
	</tr>
      </thead>
      <tbody>

	<% silos.each do |silo| %>
	<tr>

          <td>
	    <!-- %= silo.filesystem % -->
	    /<%= silo.name %>
	  </td>

          <td align="right">
	    <%= pretty_free(silo) %>
	  </td>

          <td>
	    <a href="/<%= silo.name %>/knobs/"><%= state_to_text(silo.state) %></a>
	  </td>

          <td>
	    <a href="/<%= silo.name %>/knobs/"><%= silo.allowed_methods.map{ |m| method_to_text(m) }.join(', ') %></a>
	  </td>

          <td align="right">
	    <%= pretty_count(silo) %></a>
	  </td>

          <td>
	    <%= oldest_fixity_time(silo) %></a>
	  </td>

          <td>
	    <%= newest_fixity_time(silo) %></a>
	  </td>

          <td>
	    <a href="/<%= silo.name %>/data/">list packages</a>
	  </td>

          <td>
	    <a href="/<%= silo.name %>/fixity/">fixity xml</a>
	  </td>

	</tr>
	<% end %>

      </tbody>
    </table>







    <p class="footer">
      <%= revision %>
    </p>

  </body>
</html>

