<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <style type="text/css" media="screen">
      @import "/std.css";
    </style>
    <script type="text/javascript"  src="/jquery-1.4.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      $('#silos tbody tr:odd').addClass('odd');
      $('#silos tbody tr:even').addClass('even');
      });
    </script>
    <script type="text/javascript" src="/jquery-1.4.js"></script>
    <title>Available Silos on <%= hostname %></title>
  </head>

  <body>

    <h1> Silo Management</a></h1>
    <h2> 
      <a href="/"><%= hostname %></a> 
      &rArr;       
      Silo Management
    </h2>

    <p>
      You may <% if credentials %>	    
      <a href="/credentials">change the site password</a>
      <% else %>
      <a href="/credentials">set a site password</a>
      <% end %>
      or add a <a href="/add-silo">new silo</a>.
    </p>


    <table id="silos">
      <thead>
	<tr class="border">
          <th>Silo</th>
          <th>Free</th>
          <th>State</th>
          <th>Methods</th>
          <th>Pkgs</th>
          <th colspan="3">Most Recent Package Fixities (earliest/latest)</th>
          <th colspan="2">
	  </th>
	</tr>
      </thead>
      <tbody>

	<% silos.each do |silo| %>
	<tr>

          <td>
	    <!-- %= silo.filesystem % -->
	    /<%= silo.name %>
	  </td>

          <td align="right">
	    <%= pretty_free(silo) %>
	  </td>

          <td>
	    <a href="/<%= silo.name %>/knobs/"><%= 'retired ' if silo.retired? %><%= state_to_text(silo.state) %></a>
	  </td>

          <td>
	    <a href="/<%= silo.name %>/knobs/"><%= silo.allowed_methods.map{ |m| method_to_text(m) }.join(', ') %></a>
	  </td>

	  <% pkg_count = pretty_count(silo) %>

          <td align="right">
	    <%= pkg_count %></a>
	  </td>

          <td>
	    <%= oldest_fixity_time(silo) %></a>
	  </td>

          <td>
	    <%= newest_fixity_time(silo) %></a>
	  </td>

          <td class="tight">
            <% status = fixity_status(silo) %>
	    <% if status == :stale %>
    	      <img title="There are stale fixity checks (over <%= stale_days %> days old) for one or more packages in this silo" src="/warning.png">
	    <% elsif status == :expired %>
  	      <img title="There are expired fixity checks (over <%= expired_days %> days old) for one or more packages in this silo"  src="/danger.png">
	    <% end %>
          </td>

          <td>
	    <% if pkg_count.to_i > 0 %>
  	      <a href="/<%= silo.name %>/data/">list packages</a>
	    <% end %>
	  </td>

          <td>
	    <% if pkg_count.to_i > 0 %>
  	      <a href="/<%= silo.name %>/fixity/">fixity xml</a>
	    <% end %>
	  </td>

	</tr>
	<% end %>

      </tbody>
    </table>

    <p class="footer">
      <%= revision %>
    </p>

  </body>
</html>

